
/*
  Color Scheme : #7579ff, #ab56cf, #551DFC, #3c3c3c
*/

@font-face {
  font-family: "bitink";
  src: url("../fonts/bitink.ttf") format("truetype")
}

@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
  
 @font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  line-height: 1.75;
  /* scroll-behavior: smooth; */
}

body {
  margin: 0;
  font-family: "FiraSans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Start: Reset*/

.pure-g [class*="pure-u"] {
  font-family: "FiraSans", sans-serif;
}

/* End: Reset */

/* Start: Supporting classes */

.page_title {
  text-align: center;
  margin-top: 12vw;
  font-size: 3rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.spcl_font {
  font-family: "bitink", sans-serif !important;
}

/* End: Supporting Classes */

/* Start: Preloader */

#preload_overlay {
  z-index: 99999;
  width: 100%;
  height: 100vh;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preload_overlay svg {
  width: 200px;
  height: 200px;
  margin: 20px;
  display: inline-block;
}

/* Start: Preloader */

/* Start: Hero Section */


#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;
}

#hero_left, #hero_right {
  width: 50vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hero_left {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.6));
          filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.6));
}

#hero_left_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  background: linear-gradient(60deg, rgb(171, 86, 207), rgb(85,29,252), rgb(117,121,255));
}

.hero_left_menu {
  display: none;
}

#hero_left_wrapper img {
  width: 30vw;
}

#hero_right {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_right_el {
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
}

#right_nav {
  position: absolute;
  top: 20px;
  list-style-type: none;
}


#right_nav li {
  display: inline-block;
}

#right_nav li a{
  padding: 10px;
  
}

#right_nav li a:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(171, 86, 207)), color-stop(rgb(85,29,252)), to(rgb(117,121,255)));
  background: linear-gradient(0deg, rgb(171, 86, 207), rgb(85,29,252), rgb(117,121,255));
          background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-bottom: 2px solid rgb(171, 86, 207);
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

#hero_right_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

#countdown {
    position: relative;
    margin-top: -100px;
    margin-bottom: 71px;
    font-size: 2.5rem;
    line-height: 50px;
    font-weight: bold;
    background: white;
    color: rgb(171, 86, 207);
    padding: 30px 35px;
    border-radius: 30px;
    text-align: left;
}

#countdown::after {
  content: '';
  width: 94%;
  height: 45px;
  position: absolute;
  box-shadow: 0 0 45px -5px rgba(0,0,0,0.5);
  z-index: -1;
  top: 50%;
  transform: translateY(-50%) rotateZ(-4deg);
  left: 15px;
}

#hero_right_title {
  font-family: "bitink", sans-serif;
  font-size: 5.7rem;
  background: linear-gradient(60deg, rgb(171, 86, 207), rgb(117,121,255));
          background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 800;
  text-align: center;
}

#hero_right_register {
  margin-top: 30px;
}

#hero_right_register_link {
  display: block;
	color: white;
	background: linear-gradient(60deg, rgb(171, 86, 207), rgb(117,121,255));
	padding: 10px 20px;
	font-size: 1.5rem;
  border-radius: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 4px 20px -5px rgba(0,0,0,0.6);
          box-shadow: 0px 4px 20px -5px rgba(0,0,0,0.6);
  -webkit-transition: -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
  transition: transform .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

#hero_right_register_link:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.6);
          box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.6)
}

#hero_right_subtitle {
  position: absolute;
  bottom: 50px;
  color: #3c3c3c;
}

#hero_right_p {
}

#hero_right_dept {
  font-weight: 400;
}

#hero_right_college {
  font-weight: 400;
}

@keyframes scroll_arrow_bounce {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(-10px);
  }
}

#scroll_arrow {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom:0;
  background: url(../images/scroll_arrow.png);
  background-size: 40px;
  width: 40px;
  height: 40px;
  animation: scroll_arrow_bounce 1s ease-in-out infinite;
  animation-direction: alternate;
}

/* End: Hero Section */

/* Start: Main Section */

#main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top_bar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background: white;
  z-index: 9999;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
          box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#top_bar_logo {
  float: left;
  height: 100%;
}

.top_bar_logo_img {
  width: 65px;
  padding: 6px 2px;
  margin-left: 50px;
  float: left;
}

#top_bar_title {
  text-transform: uppercase;
  display: inline-block;
  float: left;
  height: 100%;
  padding: 17px 20px;
  background: linear-gradient(60deg, rgba(171, 86, 207, 0.8), rgba(85,29,252,0.8), rgba(117,121,255,0.8));
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

#top_bar_nav {
  height: 100%;
  width: 450px;
  float: right;
}

#top_bar_nav #right_nav {
  top: 26px;
}

/* Start: Hamburger Menu */

.nav {
  display: none;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: linear-gradient(60deg, rgba(171, 86, 207, 1), rgba(85,29,252,1), rgba(117,121,255,1));
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  left: -20rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 20rem;
  z-index: 1;
}

.nav.expanded { left: 0; }

.nav ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-toggle {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  cursor: pointer;
  height: 2rem;
  right: 2rem;
  position: fixed;
  top: 2rem;
  width: 33px;
  z-index: 2;
  
}

.nav-toggle:hover { opacity: 0.8; }

.nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #551DFC;
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 5px;
}


.nav-toggle .nav-toggle-bar { margin-top: 0; }

.nav-toggle .nav-toggle-bar::after { margin-top: 0.5rem; }

.nav-toggle .nav-toggle-bar::before { margin-top: -0.5rem; }

.nav-toggle.expanded .nav-toggle-bar { background: transparent; }

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: #551DFC;
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.nav-toggle .nav-toggle-bar-white, .nav-toggle .nav-toggle-bar-white::after, .nav-toggle .nav-toggle-bar-white::before {
  background: white;
} 

.nav-toggle.expanded .nav-toggle-bar-white::after, .nav-toggle.expanded .nav-toggle-bar-white::before {
  background: white;
  margin-top: 0;
}

/* End: Hamburger Menu */

#main_wrapper {
  width: 95%;
  background: linear-gradient(60deg, rgba(171, 86, 207, 0.8), rgba(85,29,252,0.8), rgba(117,121,255,0.8)),url(../images/main_bg.jpg);
  background-size: cover;
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  margin-bottom: 100px;
  background-position: center;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
  color: #f7f7f7;
  padding: 0 200px;
}

.about_item {
  width: 75%;
  margin: 40px;
}

.about_item:first-of-type {
  text-align: right;
}

.about_title {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.about_border {
  width: 2px;
  height: 400px;
  background-color: #f7f7f7;
}

/* End: Main Section */

/* Start: Register Section */

#register {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: flex-start;
}

.register_title {
  text-align: center;
  margin: 60px 0 40px;   
  font-size: 3rem;
  color: white;
}

#register_wrapper {
  background: linear-gradient(60deg, rgb(171, 86, 207), rgb(85,29,252) 20%, rgb(117,121,255));
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
          box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
  padding: 100px 0px;
  text-align: center;
  width: 100%;
}

#register_form {
  color: white;
  display: inline-block;
  text-align: left;
}

#register_form > label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

#register_form > input[type="text"] {
  display: block;
  width: 300px;
  height: 41px;
  background: rgb(71, 22, 218);
  border: none;
  padding: 10px 20px;
  color: white;
  margin-bottom: 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

#register_form > input[type="text"]::placeholder {
  font-weight: normal;
  font-style: italic;
  font-size: 1rem;
}

#register_form > input[type="submit"]{
  display: block;
  background: linear-gradient(60deg, rgb(171, 86, 207), rgb(117,121,255));
  padding: 10px 19px;
  text-align: center;
  border: none;
  margin: 0 auto;
  margin-top: 0px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  color: white;
  cursor: pointer;
  margin-top: 45px;
  transition: transform .3s ease-in-out, box-shadow .5s ease-in-out;
}

#register_form > input[type="submit"]:hover {
  transform: translateY(5px);
  box-shadow: none;
}
/* End: Register Section */

/* Start: Sponsers Section */

#sponsors {
  padding: 100px 50px 0;
}

#sponsors_title {
  text-align: center;
  margin: 60px 0 40px;
  font-size: 3rem;
}

#sponsors a {
  text-align: center;
  padding: 20px 0;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#sponsors a img {
  width: calc(100px + 5vw);
}

/* End: Sponsors Section*/

/*  Start: Map Section */

#gmap {
  margin-top: 200px;
}

.mapouter {
  text-align:right;
  height:648px;
  width:100%;
}
  
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:648px;
  width:100%;
}

/* End: Map Section */

/* Start: Events Section */

#events {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#events_wrapper {
  color: white;
  width: 100%;
  background: url("../images/events_bg.svg");
  background-size: cover;
  position: relative;
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
}

.events_item:last-of-type {
  margin-bottom: 60px;
}

.events_item_content {
  margin: 60px auto 0;
  color: white;
  border-radius: 15px;
  text-align: center;
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
  max-width: 455px;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.events_item_content:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.events_item_content_first {
  background: -webkit-gradient(linear, left top, right top, from(#551DFC), to(rgba(0,0,0,0.3))), url("../images/technical_card_bg.png") 0/600px no-repeat;
  background: linear-gradient(to right, #551DFC, rgba(0,0,0,0.3)), url("../images/technical_card_bg.png") 0/600px no-repeat;
}

.events_item_content_second {
  background: -webkit-gradient(linear, left top, right top, from(#551DFC), to(rgba(0,0,0,0.3))), url("../images/non_technical_card_bg.png") 0/600px no-repeat;
  background: linear-gradient(to right, #551DFC, rgba(0,0,0,0.3)), url("../images/non_technical_card_bg.png") 0/600px no-repeat;
}

.events_item_heading {
  padding: 30px 0 20px;
  font-size: 2rem;
  text-transform: uppercase;
}

.events_item_p {
  padding: 0 30px 50px;
}

.event_title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-top: 80px;
  text-transform: uppercase;
}

#technical_events {
  margin-top: 50px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

#technical_events > div {
  -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3));
}

.event_item {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 220px;
  background: #551DFC;
  color: white;
  margin: 50px auto;
  border-radius: 15px;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bolder;
  letter-spacing: 1.5px;
  background: -webkit-gradient(linear, left top, right top, from(#551DFC), to(rgba(0,0,0,0.3))), url("../images/main_bg.jpg") 0/350px no-repeat;
  background: linear-gradient(to right, #551DFC, rgba(0,0,0,0.3)), url("../images/main_bg.jpg") 0/350px no-repeat;
  -webkit-transition: -webkit-transform  0.3s ease-in-out;
  transition: -webkit-transform  0.3s ease-in-out;
  transition: transform  0.3s ease-in-out;
  transition: transform  0.3s ease-in-out, -webkit-transform  0.3s ease-in-out;
  cursor: pointer;
}

.event_item_active {
  position: absolute;
  width: 90%;
  height: 90vh;
  top: 5%;
  left: 5%;
  -webkit-clip-path: none;
          clip-path: none;
}

.event_item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.event_item img {
  width: 30px;
}

#second_row {
  padding-left: 150px;
}

/* End: Events Section */

/* Start: Technical Section */
#technical {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#technical_wrapper {
  color: white;
  width: 100%;
  background: linear-gradient(60deg, rgba(171, 86, 207,0.6), rgba(85,29,252,0.6), rgba(117,121,255,0.6)),url("../images/technical_card_bg.png");
  background-size: cover;
  position: relative;
  
}

/* End: Technical Section */

/* Start: Non-technical Section */

#non_technical {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#non_technical_wrapper {
  color: white;
  width: 95%;
  min-height: 90vh;
  background: linear-gradient(60deg, rgba(171, 86, 207,0.6), rgba(85,29,252,0.6), rgba(117,121,255,0.6)),url("../images/non_technical_card_bg.png");
  background-size: cover;
  position: relative;
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

/* End: Non-technical Section */

/* Start: Media Queries */

@media screen and (max-width: 1280px) {

  #about {
    padding: 0 30px;
  }
}

@media screen and (max-width:1024px) {
  
  #hero #hero_left .hero_left_menu {
    display: block;
    top: 60px;

  }
  
  #hero #hero_left .hero_left_menu span {
    background: white;
  }

  #right_nav {
    font-size: .9rem;
  }

  #hero_right_title {
    font-size: 4rem;
  }  
}

@media screen and (max-width: 767px) {
  
  #top_bar_nav {
    display: none;
  }
  #hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #right_nav {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav-toggle {
    display: block;
  }

  #hero_left {
    width: 100%;
    height: 25vh;
    filter: none;
  }

  #hero_left img {
    width: 140px;
  }

  #hero_right {
    width: 100%;
    height: 75vh;
  }

  #hero_left_wrapper {
    -webkit-clip-path: none;
            clip-path: none;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.6);
  }

  #hero_right_wrapper {
    height: 100%;
  }
  #hero_right_title {
    margin-top: -50px;
  }

  #hero_right_subtitle h2 {
    bottom: 50px;
    line-height: 1;
    font-size: 1rem;
  }
  #hero_right_register_link {
    margin-top:-15px;
  }
  
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    padding: 0;
    margin-top: 60px;
  }

  .about_content, .about_title {
    text-align: left;
  }

  .about_border {
    width: 80%;
    height: 2px;
  }
}

@media screen and (max-width: 479px) {
  .events_item_content {
    margin: 60px 60px 0px;
  }

  #countdown {
    font-size: 1.5rem;
  }

  #hero_right_title {
    font-size: 3rem;
  }
}

/* End: Media Queries */